{% extends "layout.html" %}

{% block title %}
    Edit item
{% endblock %}

{% block main %}
<div class="d-flex justify-content-center">
    <div class="d-flex flex-column align-items-center" style="width: 420px;">
        <ul class="p-0 m-0 d-flex flex-row text-center shadow-sm mb-2" style="list-style-type: none; min-width: 100%;">
            <li style="width: 100%">
                <a class="nav-link bg-light border" href="/add-item">
                    <i class="fas fa-plus mr-2"></i><span class="small">Add</span>
                </a>
            </li>
            <li style="width: 100%">
                <a class="nav-link bg-white border" href="/edit-item">
                    <i class="fas fa-edit mr-2"></i><span class="small">Edit</span>
                </a>
            </li>
            <li style="width: 100%">
                <a class="nav-link bg-light border" href="/remove-item">
                    <i class="fas fa-eraser mr-2"></i><span class="small">Remove</span>
                </a>
            </li>
        </ul>

        <ul class="p-0 m-0 d-flex flex-row text-center shadow-sm mb-2" style="list-style-type: none; min-width:100%;">
            <li style="width: 100%;;">
                <a class="nav-link bg-white border" href="/edit-item">
                    <i class="fas fa-pallet mx-2"></i><br>
                    <span class="small">Item</span>
                </a>
            </li>
            <li style="width: 100%;">
                <a class="nav-link bg-light border" href="/edit-category">
                    <i class="fas fa-inbox mx-2"></i><br>
                    <span class="small">Category</span>
                </a>
            </li>
            <li style="width: 100%;">
                <a class="nav-link bg-light border" href="/edit-inventory">
                    <i class="fas fa-warehouse mx-2"></i><br>
                    <span class="small">Inventory</span>
                </a>
            </li>
<!--             <li style="width: 100%;">
                <a class="nav-link bg-light border" href="/edit-role">
                    <i class="fas fa-address-card mx-2"></i><br>
                    <span class="small">Role</span>
                </a>
            </li> -->
        </ul>

        <form class="d-flex flex-column p-4 shadow-sm bg-white border" action="/edit-item" method="POST" style="width: 100%;">      
            <div class="d-flex form-group">
                <strong class="mr-3 lead">Select item to edit</strong>
            </div>  
            <div class="d-flex form-group">
                <select autofocus class="form-control custom-select-sm" size="5" name="item">
                    {% for cat in cats %}
                        {% set category_id = cat['category_id'] %}
                        

                        {% if cat['inventory_id'] == p_inv[0]['id'] %} 
                            <optgroup label="{{ cat['category_name'] }}">
                            
                                {% set count = [1] %}
                              
                                {% for item in inv %}
                                    {% if item['category_id'] == category_id %}

                                        <option value="{{ item['item_id'] }}">
                                            
                                            {{ count[0] }}
                                            {% if count.append(count.pop() + 1) %}{% endif %}
                                            | {{ item['item_name'] }} 
                                            {% if item['manifacturer'] %} | {{ item['manifacturer'] }} {% endif %} 
                                            {% if item['color'] %}| {{ item['color'] }} {% endif %} 
                                            {% if item['length'] %} | {{ item['length'] }} {% endif %} 
                                            {% if item['width'] %}x {{ item['width'] }} {% endif %} 
                                            {% if item['height'] %}x {{ item['height'] }} {% endif %} 
                                            {% if item['length'] or item['width'] or item['height'] %} {{ item['length_unit'] }} {% endif %}
                                            
                                        </option>

                                    {% endif %}         
                                {% endfor %}
                            </optgroup>
                        {% endif %}
                    {% endfor %}
                </select>

            </div>  
        
            <button class="btn btn-primary btn-sm" type="submit">Edit</button> 
        </form> 
    </div>
</div>
{% endblock %}