{% extends "layout.html" %}

{% block title %}
    Choose category
{% endblock %}

{% block main %}
<div class="d-flex justify-content-center">
    <div class="d-flex flex-column align-items-center" style="width: 420px;">
        <ul class="p-0 m-0 d-flex flex-row text-center shadow-sm mb-2" style="list-style-type: none; min-width: 100%;">
            <li style="width: 100%">
                <a class="nav-link bg-light border" href="/add-category">
                    <i class="fas fa-plus mr-2"></i><span class="small">Add</span>
                </a>
            </li>
            <li style="width: 100%">
                <a class="nav-link bg-white border" href="/edit-category">
                    <i class="fas fa-edit mr-2"></i><span class="small">Edit</span>
                </a>
            </li>
            <li style="width: 100%">
                <a class="nav-link bg-light border" href="/remove-category">
                    <i class="fas fa-eraser mr-2"></i><span class="small">Remove</span>
                </a>
            </li>
        </ul>

        <ul class="p-0 m-0 d-flex flex-row text-center shadow-sm mb-2" style="list-style-type: none; min-width:100%;">
            <li style="width: 100%;;">
                <a class="nav-link bg-light border" href="/edit-item">
                    <i class="fas fa-pallet mx-2"></i><br>
                    <span class="small">Item</span>
                </a>
            </li>
            <li style="width: 100%;">
                <a class="nav-link bg-white border" href="/edit-category">
                    <i class="fas fa-inbox mx-2"></i><br>
                    <span class="small">Category</span>
                </a>
            </li>
            <li style="width: 100%;">
                <a class="nav-link bg-light border" href="/edit-inventory">
                    <i class="fas fa-warehouse mx-2"></i><br>
                    <span class="small">Inventory</span>
                </a>
            </li>
<!--             <li style="width: 100%;">
                <a class="nav-link bg-light border" href="/edit-role">
                    <i class="fas fa-address-card mx-2"></i><br>
                    <span class="small">Role</span>
                </a>
            </li> -->
        </ul>


        <form class="d-flex flex-column p-4 shadow-sm bg-white border" action="/edit-category/{{ data['category_id'] }}" method="POST" style="width: 100%;">      
            <div class="d-flex form-group">
                <span class="mr-3 lead text-left">Move this category to</span>
                <select class="form-control form-control-sm" name="inventory" id="inventory" style="width:40%;">
                    <option value="{{ p_inv[0]['id'] }}">{{ p_inv[0]['name'] }}</option>
                    {% for i in range(invs | length) %}
                        {% if invs[i]['name'] != p_inv[0]['name'] %}    
                            <option value="{{ invs[i]['id'] }}">{{ invs[i]['name'] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>  
            <div class="d-flex flex-row form-group">
                <input autofocus class="form-control form-control-sm" autocomplete="off" type="text" name="category-name" placeholder="Category name" value="{% if data['category_name'] %}{{ data['category_name'] }}{% endif %}" autofocus>
            </div>
            <div class="d-flex flex-row form-group">
                <input class="form-control form-control-sm" autocomplete="off" type="text" name="about-items" placeholder="About included items" value="{% if data['about_items'] %}{{ data['about_items'] }}{% endif %}">
            </div> 
            <button class="btn btn-primary btn-sm" type="submit">Save changes</button>
        </form>    
        <script>
            $("#inventory").val("{{ data['inventory_id'] }}")
        </script>
    </div>
</div>
{% endblock %}



